services:
  - type: postgres
    name: wifitop-db
    region: oregon
    plan: free
    databaseName: wifitop
    username: wifitop_user
    ipAllowList:
      - source: 0.0.0.0/0
        description: Allow all

  - type: web
    name: wifitop
    runtime: node
    region: oregon
    plan: free
    buildCommand: npm ci && npm run build
    startCommand: npm run start
    autoDeploy: true
    healthCheckPath: /api/health
    healthCheckInterval: 30
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXT_PUBLIC_SITE_NAME
        value: WifiTOP
      - key: NEXT_PUBLIC_SITE_URL
        value: https://wifitop.onrender.com
      - fromGroup: wifitop_db

envGroups:
  - name: wifitop_db
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: wifitop-db
          property: connectionString
